@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.address-input {
  /* on focus */
  --gmpx-color-primary: rgb(94, 94, 94);
  width: 100%;
  border: 1px solid rgb(140, 139, 139);
  border-radius: 8px;
  --gmpx-font-size-base: 1rem;
}
